parametersSchema:
    pestClosureThisTypeMap: listOf(
        structure([
            pathContains: string()
            class: string()
        ])
    )

services:
    -
        class: Odinns\PhpStanPestThis\PestClosureThisTypeResolver
        arguments:
            pathToClassMap: %pestClosureThisTypeMap%

    -
        class: Odinns\PhpStanPestThis\PestFunctionParameterClosureThisExtension
        tags:
            - phpstan.functionParameterClosureThisExtension

    -
        class: Odinns\PhpStanPestThis\PestMethodParameterClosureThisExtension
        tags:
            - phpstan.methodParameterClosureThisExtension
